// your workflow parameters
params {

  biomarker_data = "/Users/violafanfani/Documents/uni-harvard/courses/bst270/bst270_winter2025/group_project/data/29282-0001-Data.rda"

  optimism_data = "/Users/violafanfani/Documents/uni-harvard/courses/bst270/bst270_winter2025/group_project/data/04652-0001-Data.rda"

  resultsDir = "./results/midus_reproducibility_20250122/"

  tertiles = [[10,20],[23,26],[0,0]]

}

// include basic process configuration options
includeConfig 'conf/base.config' 

trace {
  overwrite = true
}